<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%=locals.message %></h1>
    <h3 style="color: red; background-color: aliceblue; box-shadow: 3px 3px 8px 5px rgba(0, 0, 0, 0.2);"><%=locals.error %></h3>
</body>
</html>