<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body{
            background-color: aquamarine;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        h1{
            font-size: 4rem;
            color: rgb(0, 8, 255);
            margin: 100px 0px;
        }
        h2{
            font-size: 1.6rem;
            color: blueviolet;
        }
    </style>
</head>
<body>
    <h1>Welcome <%=user.name%></h1>
    <h2>This is email address <%=user.email %></h2>
</body>
</html>