@keyframes button {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}

@import "./variables.scss";
* {
    margin: 0px;
}

@media screen and (max-width: 1020px) {
    section#nav p>span,
    section#nav h1 {
        display: none;
    }
    section#nav{
        width: 60px !important;
        text-align: center;
    }

    section#content{
        flex-grow: 1;
    }

    body{
        padding:0px 20px;
        gap:30px;
    }
}
body {
    height: 100vh;
    overflow: hidden;
    background-image: url(../images/b5.jpg);
    background-size: cover;
    backdrop-filter: blur(5px);
    background-attachment: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    font-family: $base-font-family;
    font-size: $base-font-size;
    section {
        height: 90%;
        width: 90%;
        background-color: rgba(200, 200, 200, 0.662);
        box-shadow: 0px 0px 2px 2px rgba(200, 200, 200, 0.662);
        border-radius: $base-border-radius;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &#nav {
            width: 265px;
            position: relative;
            padding: 10px;
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap:10px;
            > a {
                font-size: $base-font-size * 1.2;
                text-decoration: none;
                background-color: ghostwhite;
                padding: $base-padding * 0.5 $base-padding;
                border-radius: 50%;
                color: $base-style-color;
            }

            p{
                i{
                    padding:0px $base-padding;
                }
            }
        }
        &#content {            
            width: 70%;
            min-width: 620px;
            box-sizing: border-box;
            padding: $base-padding * 2;
            div[id="profile"] {
                position: relative;
                display: flex;
                background-color: $alternate-color;
                padding: $base-padding;
                border-radius: $base-border-radius;
                width: 98%;
                img {
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    object-fit: cover;
                    margin-left: 10px;
                    background-color: white;
                }
                div {
                    margin: 0px $base-margin;
                    position: relative;
                    top: 20%;
                    p {
                        font-weight: 600;
                    }
                    span {
                        font-size: $base-font-size * 0.85;
                        font-style: italic;
                    }
                }
                div[id="buttons"] {
                    position: absolute;
                    right: 0px;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: space-evenly;
                    justify-self: flex-end;
                    > a {
                        outline: none;
                        border: none;
                        border-radius: 50%;
                        background-color: $base-style-color;
                        color: ghostwhite;
                        padding: $base-padding $base-padding * 1.3;
                        margin: 0px $base-margin;
                        &:hover {
                            background-color: $base-hover-color;
                        }
                    }
                }
            }
            form {
                position: relative;
                background-color: $alternate-color;
                width: 98%;
                margin: $base-margin 0px;
                padding: $base-padding * 2 $base-padding;
                border-radius: $base-border-radius;
                transition: 0.1s linear;
                transform-origin: top;
                label[for="name"] {
                    font-size: $base-font-size * 0.9;
                    margin: 0px 5px;
                    display: block;
                }
                input[id="name"] {
                    outline: none;
                    border: none;
                    font-size: $base-font-size * 1.1;
                    padding: $base-padding;
                    border-radius: $base-border-radius;
                }

                label[for="upload"] {
                    position: absolute;
                    right: 20px;
                    top: 12%;
                    width: 100px;
                    color: white;
                    padding: 10px;
                    border-radius: 50%;
                    font-size: 1.5rem;
                    img {
                        width: 100px;
                        height: 100px;
                        object-fit: cover;
                        border-radius: 50%;
                        background-color: white;
                        border: 5px solid $base-style-color;
                    }
                    i {
                        position: relative;
                        bottom: 40px;
                        right: 0px;
                        padding: $base-padding;
                        background-color: $base-style-color;
                        font-size: 1rem;
                        border-radius: 50%;
                    }
                }
                input[type="file"] {
                    display: none;
                }
                button {
                    outline: none;
                    border: 2px solid white;
                    padding: $base-padding * 0.5 $base-padding * 2;
                    color: ghostwhite;
                    background-color: $base-style-color;
                    font-size: $base-font-size;
                    border-radius: $base-border-radius;
                    margin: $base-td-margin 0px;
                    &:hover {
                        background-color: $base-hover-color;
                    }
                }
            }
        }
        h1 {
            color: $base-style-color;
            font-size: $base-font-size * 1.5;
            align-self: center;
        }
        ul {
            list-style: none;
            margin: 0px;
            width: 90%;
            padding: $base-padding;
            li {
                font-size: $base-font-size;
                padding: $base-td-padding 0px;
                display: block;
                border-radius: $base-border-radius;
                cursor: default;
                i {
                    padding: 0px $base-rl-padding * 2;
                }
                &:hover {
                    background-color: $alternate-color;
                }
            }
        }
    }
}

.btn:active {
    animation: button 0.3s linear 0s 1;
}

.expand{
    transform: scaleY(0);
}