@import "./variables.scss";

@mixin blur() {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    filter: blur(1px);
    background-color: rgba(200, 200, 200, 0.662);
    z-index: -1;
    border-radius: $base-border-radius * 2;
}

* {
    padding: 0px;
    margin: 0px;
}

body {
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(3px);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;

    main {
        width: 35vw;
        background: transparent;
        display: flex;
        justify-content: center;
        position: relative;
        border-radius: $base-border-radius * 2;
        background-color: rgba(200, 200, 200, 0.662);
        box-shadow: 0px 0px 2px 2px rgba(200, 200, 200, 0.662);
        form {
            background: transparent;
            width: 80%;
            margin: $base-margin * 2;
            position: relative;

            div {
                width: 100%;
                border: $base-border-thickness * 2 $base-border-style gray;
                border-radius: $base-border-radius;
                margin: $base-margin 0px;
                position: relative;

                label {
                    position: absolute;
                    top: 30%;
                    left: 5%;
                    border-radius: $base-border-radius * 0.4;
                    transition: 0.2s ease-in-out;
                    padding: 2px 5px;
                    z-index: -1;
                }

                input {
                    background: transparent;
                    outline: none;
                    padding: $base-td-padding * 3 $base-rl-padding;
                    font-size: $base-font-size;
                    border: none;
                    width: 90%;
                }
                input:-webkit-autofill,
                input:-webkit-autofill:focus {
                    transition:
                        background-color 0s 600000s,
                        color 0s 600000s !important;
                }
                i{
                    font-size: 1.3rem;
                    position: absolute;
                    right: 10px;
                    top:34%;
                }
            }
            a#forgot-password{
                position: relative;
                right: -10px;
                top: -12px;
                display: block;
                margin: 0px 0px 20px 0px;
                color: $base-style-color;
                &:hover{
                    color: red;
                }
                &:active{
                    color: white;
                }
            }
            button {
                padding: $base-padding;
                border: none;
                outline: none;
                border-radius: $base-border-radius;
                background: linear-gradient(white, $base-style-color);
                font-size: $base-font-size;

                &:hover {
                    box-shadow: 2px 2px 5px 2px rgba(85, 85, 85, 0.2);
                }

                &:active {
                    transform: scale(0.97);
                }
            }

            button[form] {
                position: absolute;
                bottom: 0;
                right: 0;
            }
        }
    }
    div#google {
        margin: 20px 0px;
        background-color: white;
        width: 320px;
        border-radius: 5px;
        box-sizing: border-box;
        a {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 30px;
            text-decoration: none;
            padding: $base-padding 0px;
            img {
                width: 25px;
                height: 25px;
            }
            span {
                color: black;
            }
        }
    }
    a[id="signup"] {
        position: relative;
        color: white;
        bottom: -50px;
    }
}
div#google:hover {
    transform: scale(0.98);
}
