<<<<<<< HEAD
* {
  margin: 0px; }

body {
  overflow: hidden;
  background-image: url(../images/b5.jpg);
  backdrop-filter: blur(3px);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: sans-serif; }
  body div[id="sidebar"] {
    height: 90vh;
    position: fixed;
    left: 10px;
    top: 25px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    font-size: 1.3rem; }
    body div[id="sidebar"] button {
      font-size: 1.3rem;
      outline: none;
      border: none;
      border-radius: 50%;
      padding: 10px;
      border: 1px solid #EE7214; }
      body div[id="sidebar"] button i {
        color: #EE7214; }
    body div[id="sidebar"] > i {
      color: white;
      padding: 10px;
      border-radius: 50%; }
      body div[id="sidebar"] > i:hover {
        background-color: #fff78a63; }
  body nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 35px;
    background: transparent;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px;
    transition: width 0.1s linear; }
    body nav:hover {
      width: 190px; }
    body nav:hover div span {
      display: inline-block; }
    body nav div {
      position: relative;
      background-color: ghostwhite;
      border: 2px solid rgba(82, 81, 81, 0.685);
      width: 90%;
      border-radius: 10px;
      padding: 5px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      left: -5px; }
      body nav div img {
        width: 33px; }
      body nav div span {
        font-size: 1.5rem;
        position: relative;
        top: 4px;
        font-weight: 900;
        font-style: italic;
        color: #3c4d5d;
        display: none; }
    body nav:hover ul li span {
      display: inline-block; }
    body nav:hover ul p {
      display: block; }
    body nav ul {
      list-style: none;
      margin: 20px 0px;
      padding: 0px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex-wrap: nowrap; }
      body nav ul p {
        font-size: 1.3rem;
        position: relative;
        left: -10px;
        color: #EE7214;
        display: none; }
      body nav ul a {
        color: black;
        width: 100%; }
        body nav ul a li {
          font-size: 1.5rem;
          padding: 8px 5px;
          white-space: nowrap;
          border-radius: 10px; }
          body nav ul a li:hover {
            background-color: white;
            transform: scale(1.08);
            box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, 0.2);
            width: 100%; }
          body nav ul a li span {
            font-size: 1.1rem;
            margin: 0px 0px 0px 10px;
            display: none;
            white-space: nowrap; }

@keyframes button {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }
  @media screen and (max-width: 750px) {
    body button[form="add-task"] span {
      display: none; }
    body button[form="update-task"] span {
      display: none; }
    body .task {
      grid-template-columns: 40px 1fr !important; }
    body p.label {
      display: none; } }
  body main {
    display: grid;
    grid-template-rows: 0fr 0fr 70px;
    position: relative;
    left: 35px;
    width: 67vw;
    height: 87vh;
    border-radius: 20px;
    padding: 20px;
    overflow: scroll;
    background-color: rgba(200, 200, 200, 0.662);
    box-shadow: 0px 0px 2px 2px rgba(200, 200, 200, 0.662); }
    body main::-webkit-scrollbar {
      display: none; }
    body main div p[id="new-task-button"] {
      position: relative;
      font-family: "Poppins", sans-serif;
      font-size: 1.43rem;
      padding: 4px 15px;
      margin-bottom: 20px;
      background-color: ghostwhite;
      color: #EE7214;
      border: 2px solid #EE7214;
      border-radius: 10px;
      width: 110px;
      cursor: pointer; }
      body main div p[id="new-task-button"]::after {
        content: "Create a new task";
        position: absolute;
        top: 0px;
        left: 110%;
        width: 155px;
        font-size: 1.04rem;
        color: ghostwhite;
        background-color: #464646;
        padding: 7px 10px;
        border-radius: 3px;
        display: none; }
      body main div p[id="new-task-button"]::before {
        content: "";
        position: absolute;
        background-color: #464646;
        width: 12px;
        height: 12px;
        margin: 10px 0px;
        transform: rotateZ(45deg);
        left: 106%;
        display: none; }
      body main div p[id="new-task-button"]:hover::before, body main div p[id="new-task-button"]:hover::after {
        display: block; }
    body main div form {
      text-align: center;
      display: none; }
      body main div form div {
        position: relative;
        padding: 20px;
        border-radius: 15px;
        background-color: #fff78a63;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px; }
        body main div form div textarea,
        body main div form div input {
          padding: 10px;
          font-size: 1.4989rem;
          display: inline;
          outline: none;
          border: none;
          background: transparent;
          border-radius: 10px;
          border-bottom: 2px solid #EE7214; }
        body main div form div textarea {
          width: 100%;
          height: 40px; }
        body main div form div div {
          padding: 0px;
          background-color: transparent;
          flex-grow: 1;
          height: 50px;
          width: 50%; }
          body main div form div div input {
            width: 100%;
            height: 100%; }
          body main div form div div img {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 45px;
            transition: all 0.3s ease-in-out; }
          body main div form div div ul {
            list-style: none;
            position: absolute;
            top: 100px;
            background-color: ghostwhite;
            color: #EE7214;
            font-size: 1.4989rem;
            right: 10px;
            border-radius: 10px;
            padding: 0px;
            overflow: hidden;
            z-index: 99;
            transition: all 0.3s ease-in-out;
            overflow: scroll; }
            body main div form div div ul::-webkit-scrollbar {
              display: none; }
            body main div form div div ul#update-list {
              top: 100px;
              transition: none;
              max-height: 33vh;
              display: none; }
            body main div form div div ul li {
              padding: 7px 10px;
              margin: 14px 10px;
              border-radius: 10px; }
              body main div form div div ul li:hover {
                background-color: #EE7214;
                color: ghostwhite; }
        body main div form div input {
          flex-grow: 1;
          width: 43.5%;
          height: 50px; }
      body main div form button {
        font-size: 1.5rem;
        padding: 10px;
        margin: 20px;
        border-radius: 15px;
        cursor: pointer;
        background: linear-gradient(white, #EE7214);
        outline: none;
        border: none;
        box-sizing: border-box;
        box-shadow: 0px 3px 8px 2px rgba(119, 119, 119, 0.629); }
        body main div form button span {
          padding: 10px; }
    body main > p {
      font-size: 1.43rem;
      margin: 20px;
      border-bottom: 2px solid #686868; }
      body main > p i {
        margin: 0px 20px; }
    body main div[id="task-container"] {
      flex-direction: column;
      background-image: none;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      height: 100%;
      width: 100%;
      overflow: scroll; }
      body main div[id="task-container"]::-webkit-scrollbar {
        display: none; }
      body main div[id="task-container"] div.task {
        display: grid;
        align-items: center;
        grid-template-columns: 40px 1fr 160px;
        border-radius: 15px;
        margin: 5px 0px;
        background-color: #fff78a63;
        padding: 5px 10px;
        border: 2px solid #fff78a63; }
        body main div[id="task-container"] div.task:hover {
          border-color: #EE7214; }
        body main div[id="task-container"] div.task:active p.task-description {
          white-space: normal; }
        body main div[id="task-container"] div.task i[class="fa-solid fa-trash-can"] {
          color: black;
          padding: 10px;
          font-size: 1.3rem;
          border-radius: 50%; }
          body main div[id="task-container"] div.task i[class="fa-solid fa-trash-can"]:hover {
            color: red; }
        body main div[id="task-container"] div.task div {
          font-size: 1.5rem; }
          body main div[id="task-container"] div.task div div.description {
            display: grid;
            grid-template-columns: 0.95fr 0.05fr; }
            body main div[id="task-container"] div.task div div.description p.task-description {
              padding: 0px 10px;
              position: relative;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; }
              body main div[id="task-container"] div.task div div.description p.task-description:hover {
                white-space: normal; }
            body main div[id="task-container"] div.task div div.description i {
              font-size: 1.3rem;
              color: #EE7214;
              margin-right: 20px; }
          body main div[id="task-container"] div.task div div {
            display: grid;
            grid-template-columns: 0.05fr 0.95fr;
            align-items: center; }
            body main div[id="task-container"] div.task div div i {
              color: #EE7214;
              padding: 0px 10px;
              display: inline-block;
              font-size: 1.17rem; }
            body main div[id="task-container"] div.task div div p.date {
              font-family: "Agency FB";
              color: #4d4d4d;
              padding: 5px 0px 0px 0px;
              display: inline-block;
              font-size: 1.17rem;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis; }
        body main div[id="task-container"] div.task p.label {
          text-align: center;
          font-size: 1.3rem;
          color: #EE7214;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          background-color: ghostwhite;
          padding: 10px;
          border-radius: 20px; }
      body main div[id="task-container"] > img {
        width: 100%;
        height: 100%;
        object-fit: contain; }
  body .btn:active {
    animation: button 0.2s linear 0s 1; }
  body .hidden {
    display: none; }

.list {
  height: 0px;
  bottom: 0%; }

.active {
  height: 250px;
  bottom: -370%; }

.initial {
  display: none; }
=======
*{margin:0}body{overflow:hidden;background-image:url(../images/b5.jpg);backdrop-filter:blur(3px);background-size:cover;background-attachment:fixed;min-height:100vh;flex-direction:row;justify-content:space-evenly;font-family:sans-serif}body,body div[id=sidebar]{display:flex;align-items:center}body div[id=sidebar]{height:90vh;position:fixed;left:10px;top:25px;padding:10px;flex-direction:column;justify-content:space-between;z-index:2;font-size:1.3rem}body div[id=sidebar] button{font-size:1.3rem;outline:none;border:none;border-radius:50%;padding:10px;border:1px solid #ee7214}body div[id=sidebar] button i{color:#ee7214}body div[id=sidebar]>i{color:#fff;padding:10px;border-radius:50%}body div[id=sidebar]>i:hover{background-color:rgba(255,247,138,.3882352941)}body nav{position:fixed;top:0;left:0;height:100vh;width:35px;background-color:#e5e5e7;z-index:2;display:flex;flex-direction:column;justify-content:flex-start;padding:10px;transition:width .1s linear}body nav:hover{width:190px;box-shadow:10px 0 20px 5px rgba(0,0,0,.2)}body nav:hover div span{display:inline-block}body nav div{position:relative;background-color:#f8f8ff;border:2px solid rgba(82,81,81,.685);width:90%;border-radius:10px;padding:5px;display:flex;flex-direction:row;align-items:center;justify-content:center;left:-5px}body nav div img{width:33px}body nav div span{font-size:1.5rem;position:relative;top:4px;font-weight:900;font-style:italic;color:#3c4d5d;display:none}body nav:hover ul li span{display:inline-block}body nav:hover ul p{display:block}body nav ul{list-style:none;margin:20px 0;padding:0;display:flex;flex-direction:column;align-items:flex-start;flex-wrap:nowrap}body nav ul p{font-size:1.3rem;position:relative;left:-10px;color:#ee7214;display:none}body nav ul a{color:#000}body nav ul a li{font-size:1.5rem;padding:8px 5px;white-space:nowrap;border-radius:10px}body nav ul a li:hover{background-color:rgba(255,247,138,.3882352941)}body nav ul a li span{font-size:1.1rem;margin:0 0 0 10px;display:none;white-space:nowrap}@keyframes a{0%{transform:scale(1)}50%{transform:scale(.9)}to{transform:scale(1)}}@media screen and (max-width:750px){body button[form=add-task] span,body button[form=update-task] span{display:none}body .task{grid-template-columns:40px 1fr!important}body p.label{display:none}}body main{display:grid;grid-template-rows:0fr 0fr 70px;position:relative;left:35px;width:67vw;height:87vh;border-radius:20px;padding:20px;overflow:scroll;background-color:hsla(0,0%,78%,.662);box-shadow:0 0 2px 2px hsla(0,0%,78%,.662)}body main::-webkit-scrollbar{display:none}body main div p[id=new-task-button]{position:relative;font-family:Poppins,sans-serif;font-size:1.43rem;padding:4px 15px;margin-bottom:20px;background-color:#f8f8ff;color:#ee7214;border:2px solid #ee7214;border-radius:10px;width:110px;cursor:pointer}body main div p[id=new-task-button]:after{content:"Create a new task";position:absolute;top:0;left:110%;width:155px;font-size:1.04rem;color:#f8f8ff;background-color:#464646;padding:7px 10px;border-radius:3px;display:none}body main div p[id=new-task-button]:before{content:"";position:absolute;background-color:#464646;width:12px;height:12px;margin:10px 0;transform:rotate(45deg);left:106%;display:none}body main div p[id=new-task-button]:hover:after,body main div p[id=new-task-button]:hover:before{display:block}body main div form{text-align:center;display:none}body main div form div{position:relative;padding:20px;border-radius:15px;background-color:rgba(255,247,138,.3882352941);display:flex;flex-direction:row;flex-wrap:wrap;gap:20px}body main div form div input,body main div form div textarea{padding:10px;font-size:1.4989rem;display:inline;outline:none;border:none;background:transparent;border-radius:10px;border-bottom:2px solid #ee7214}body main div form div textarea{width:100%;height:40px}body main div form div div{padding:0;background-color:transparent;flex-grow:1;height:50px;width:50%}body main div form div div input{width:100%;height:100%}body main div form div div img{position:absolute;top:10px;right:10px;width:45px;transition:all .3s ease-in-out}body main div form div div ul{list-style:none;position:absolute;top:100px;background-color:#f8f8ff;color:#ee7214;font-size:1.4989rem;right:10px;border-radius:10px;padding:0;overflow:hidden;z-index:1;transition:all .3s ease-in-out;overflow:scroll}body main div form div div ul::-webkit-scrollbar{display:none}body main div form div div ul#update-list{top:100px;transition:none;max-height:33vh;display:none}body main div form div div ul li{padding:7px 10px;margin:14px 10px;border-radius:10px}body main div form div div ul li:hover{background-color:#ee7214;color:#f8f8ff}body main div form div input{flex-grow:1;width:43.5%;height:50px}body main div form button{font-size:1.5rem;padding:10px;margin:20px;border-radius:15px;cursor:pointer;background:linear-gradient(#fff,#ee7214);outline:none;border:none;box-sizing:border-box;box-shadow:0 3px 8px 2px hsla(0,0%,47%,.629)}body main div form button span{padding:10px}body main>p{font-size:1.43rem;margin:20px;border-bottom:2px solid #686868}body main>p i{margin:0 20px}body main div[id=task-container]{flex-direction:column;background-image:none;background-repeat:no-repeat;background-position:50%;background-size:contain;height:100%;width:100%;overflow:scroll}body main div[id=task-container]::-webkit-scrollbar{display:none}body main div[id=task-container] div.task{display:grid;align-items:center;grid-template-columns:40px 1fr 160px;border-radius:15px;margin:5px 0;background-color:rgba(255,247,138,.3882352941);padding:5px 10px;border:2px solid rgba(255,247,138,.3882352941)}body main div[id=task-container] div.task:hover{border-color:#ee7214}body main div[id=task-container] div.task:active p.task-description{white-space:normal}body main div[id=task-container] div.task i[class="fa-solid fa-trash-can"]{color:#000;padding:10px;font-size:1.3rem;border-radius:50%}body main div[id=task-container] div.task i[class="fa-solid fa-trash-can"]:hover{color:red}body main div[id=task-container] div.task div{font-size:1.5rem}body main div[id=task-container] div.task div div.description{display:grid;grid-template-columns:.95fr .05fr}body main div[id=task-container] div.task div div.description p.task-description{padding:0 10px;position:relative;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}body main div[id=task-container] div.task div div.description p.task-description:hover{white-space:normal}body main div[id=task-container] div.task div div.description i{font-size:1.3rem;color:#ee7214;margin-right:20px}body main div[id=task-container] div.task div div{display:grid;grid-template-columns:.05fr .95fr;align-items:center}body main div[id=task-container] div.task div div i{color:#ee7214;padding:0 10px;display:inline-block;font-size:1.17rem}body main div[id=task-container] div.task div div p.date{font-family:Agency FB;color:#4d4d4d;padding:5px 0 0;display:inline-block;font-size:1.17rem;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}body main div[id=task-container] div.task p.label{text-align:center;font-size:1.3rem;color:#ee7214;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;background-color:#f8f8ff;padding:10px;border-radius:20px}body .btn:active{animation:a .2s linear 0s 1}.list{height:0;bottom:0}.active{height:250px;bottom:-370%}.initial{display:none}
>>>>>>> main
