<<<<<<< HEAD
@keyframes button {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.9); }
  100% {
    transform: scale(1); } }

* {
  margin: 0px; }

@media screen and (max-width: 1020px) {
  section#nav p > span,
  section#nav h1 {
    display: none; }
  section#nav {
    width: 60px !important;
    text-align: center; }
  section#content {
    flex-grow: 1; }
  body {
    padding: 0px 20px;
    gap: 30px; } }

body {
  height: 100vh;
  overflow: hidden;
  background-image: url(../images/b5.jpg);
  background-size: cover;
  backdrop-filter: blur(5px);
  background-attachment: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem; }
  body section {
    height: 90%;
    width: 90%;
    background-color: rgba(200, 200, 200, 0.662);
    box-shadow: 0px 0px 2px 2px rgba(200, 200, 200, 0.662);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    body section#nav {
      width: 265px;
      position: relative;
      padding: 10px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 10px; }
      body section#nav > a {
        font-size: 1.56rem;
        text-decoration: none;
        background-color: ghostwhite;
        padding: 5px 10px;
        border-radius: 50%;
        color: #EE7214; }
      body section#nav p i {
        padding: 0px 10px; }
    body section#content {
      width: 70%;
      min-width: 620px;
      box-sizing: border-box;
      padding: 20px; }
      body section#content div[id="profile"] {
        position: relative;
        display: flex;
        background-color: #fff78a63;
        padding: 10px;
        border-radius: 10px;
        width: 98%; }
        body section#content div[id="profile"] img {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          object-fit: cover;
          margin-left: 10px;
          background-color: white; }
        body section#content div[id="profile"] div {
          margin: 0px 20px;
          position: relative;
          top: 20%; }
          body section#content div[id="profile"] div p {
            font-weight: 600; }
          body section#content div[id="profile"] div span {
            font-size: 1.105rem;
            font-style: italic; }
        body section#content div[id="profile"] div[id="buttons"] {
          position: absolute;
          right: 0px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: space-evenly;
          justify-self: flex-end; }
          body section#content div[id="profile"] div[id="buttons"] > a {
            outline: none;
            border: none;
            border-radius: 50%;
            background-color: #EE7214;
            color: ghostwhite;
            padding: 10px 13px;
            margin: 0px 20px; }
            body section#content div[id="profile"] div[id="buttons"] > a:hover {
              background-color: #ed8a3e; }
      body section#content form {
        position: relative;
        background-color: #fff78a63;
        width: 98%;
        margin: 20px 0px;
        padding: 20px 10px;
        border-radius: 10px;
        transition: 0.1s linear;
        transform-origin: top; }
        body section#content form label[for="name"] {
          font-size: 1.17rem;
          margin: 0px 5px;
          display: block; }
        body section#content form input[id="name"] {
          outline: none;
          border: none;
          font-size: 1.43rem;
          padding: 10px;
          border-radius: 10px; }
        body section#content form label[for="upload"] {
          position: absolute;
          right: 20px;
          top: 12%;
          width: 100px;
          color: white;
          padding: 10px;
          border-radius: 50%;
          font-size: 1.5rem; }
          body section#content form label[for="upload"] img {
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
            background-color: white;
            border: 5px solid #EE7214; }
          body section#content form label[for="upload"] i {
            position: relative;
            bottom: 40px;
            right: 0px;
            padding: 10px;
            background-color: #EE7214;
            font-size: 1rem;
            border-radius: 50%; }
        body section#content form input[type="file"] {
          display: none; }
        body section#content form button {
          outline: none;
          border: 2px solid white;
          padding: 5px 20px;
          color: ghostwhite;
          background-color: #EE7214;
          font-size: 1.3rem;
          border-radius: 10px;
          margin: 10px 0px; }
          body section#content form button:hover {
            background-color: #ed8a3e; }
    body section h1 {
      color: #EE7214;
      font-size: 1.95rem;
      align-self: center; }
    body section ul {
      list-style: none;
      margin: 0px;
      width: 90%;
      padding: 10px; }
      body section ul li {
        font-size: 1.3rem;
        padding: 5px 0px;
        display: block;
        border-radius: 10px;
        cursor: default; }
        body section ul li i {
          padding: 0px 20px; }
        body section ul li:hover {
          background-color: #fff78a63; }

.btn:active {
  animation: button 0.3s linear 0s 1; }

.expand {
  transform: scaleY(0); }
=======
@keyframes a{0%{transform:scale(1)}50%{transform:scale(.9)}to{transform:scale(1)}}*{margin:0}@media screen and (max-width:1020px){section#nav h1,section#nav p>span{display:none}section#nav{width:60px!important;text-align:center}section#content{flex-grow:1}body{padding:0 20px;gap:30px}}body{height:100vh;overflow:hidden;background-image:url(../images/b5.jpg);background-size:cover;backdrop-filter:blur(5px);background-attachment:fixed;display:flex;flex-direction:row;justify-content:space-evenly;align-items:center;font-family:Poppins,sans-serif;font-size:1.3rem}body section{height:90%;width:90%;background-color:hsla(0,0%,78%,.662);box-shadow:0 0 2px 2px hsla(0,0%,78%,.662);border-radius:10px;justify-content:flex-start}body section,body section#nav{display:flex;flex-direction:column;align-items:flex-start}body section#nav{width:265px;position:relative;padding:10px;box-sizing:border-box;gap:10px}body section#nav>a{font-size:1.56rem;text-decoration:none;background-color:#f8f8ff;padding:5px 10px;border-radius:50%;color:#ee7214}body section#nav p i{padding:0 10px}body section#content{width:70%;min-width:620px;box-sizing:border-box;padding:20px}body section#content div[id=profile]{position:relative;display:flex;background-color:rgba(255,247,138,.3882352941);padding:10px;border-radius:10px;width:98%}body section#content div[id=profile] img{width:100px;height:100px;border-radius:50%;object-fit:cover;margin-left:10px;background-color:#fff}body section#content div[id=profile] div{margin:0 20px;position:relative;top:20%}body section#content div[id=profile] div p{font-weight:600}body section#content div[id=profile] div span{font-size:1.105rem;font-style:italic}body section#content div[id=profile] div[id=buttons]{position:absolute;right:0;display:flex;flex-direction:row;align-items:center;justify-content:space-evenly;justify-self:flex-end}body section#content div[id=profile] div[id=buttons]>a{outline:none;border:none;border-radius:50%;background-color:#ee7214;color:#f8f8ff;padding:10px 13px;margin:0 20px}body section#content div[id=profile] div[id=buttons]>a:hover{background-color:#ed8a3e}body section#content form{position:relative;background-color:rgba(255,247,138,.3882352941);width:98%;margin:20px 0;padding:20px 10px;border-radius:10px;transition:.1s linear;transform-origin:top}body section#content form label[for=name]{font-size:1.17rem;margin:0 5px;display:block}body section#content form input[id=name]{outline:none;border:none;font-size:1.43rem;padding:10px;border-radius:10px}body section#content form label[for=upload]{position:absolute;right:20px;top:12%;width:100px;color:#fff;padding:10px;border-radius:50%;font-size:1.5rem}body section#content form label[for=upload] img{width:100px;height:100px;object-fit:cover;border-radius:50%;background-color:#fff;border:5px solid #ee7214}body section#content form label[for=upload] i{position:relative;bottom:40px;right:0;padding:10px;background-color:#ee7214;font-size:1rem;border-radius:50%}body section#content form input[type=file]{display:none}body section#content form button{outline:none;border:2px solid #fff;padding:5px 20px;color:#f8f8ff;background-color:#ee7214;font-size:1.3rem;border-radius:10px;margin:10px 0}body section#content form button:hover{background-color:#ed8a3e}body section h1{color:#ee7214;font-size:1.95rem;align-self:center}body section ul{list-style:none;margin:0;width:90%;padding:10px}body section ul li{font-size:1.3rem;padding:5px 0;display:block;border-radius:10px;cursor:default}body section ul li i{padding:0 20px}body section ul li:hover{background-color:rgba(255,247,138,.3882352941)}.btn:active{animation:a .3s linear 0s 1}.expand{transform:scaleY(0)}
>>>>>>> main
