*{
    margin: 0px;
}

body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
main{
    width: 30%;
    min-height: 30vh;
    background-color: aquamarine;
    padding: 30px;
}
main>form{
    background-color: blanchedalmond;
    width: 100%;

}

.inp{
    display: block;
    font-size: 1.5rem;
    padding: 5px;
    width: 90%;
    margin: 10px 0px;
}

#signin-form>label{
    font-size: 1.2rem;
}
