<h1>For you kind information let me tell you -</h1>
<hr>
<br><br>
<P>a task has been created by your account, here are the details of the task</P><br>
<h3>task description: <%=task.description%></h3>
<h3>task category: <%=task.category%></h3>
<h3>task due date: <%=task.date%></h3>
<hr>
<p>for more information <a href="http://localhost:8000">Click me</a></p>
<br><br><br>
<h3>regards</h3>
<h4>Kanhaiya Yadav, <br>the ceo of todo</h4>